body{
    background-color: rgb(250, 246, 246);
}
.navbar{
    background-color: rgb(238, 245, 244);
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 200px;
    color: rgb(7, 7, 7);

}
li{
    display: inline-block;
}
li a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-right: 25px;
}
.navbutton{
    background-color: #2563EB;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
}
.navbutton:hover{
    background-color: #164e63;
}
.header{
    margin-top: 50px;
    display: flex;
    align-items: center;
    

}
.header {h1{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FA804C;
}}
.header h2{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#f97316 ;
}
.header p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f97316;
}

.header img{
    margin-left: 150px;
    width: 350px;
    height: 350px;
    
}
.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 80px;
}
.shoes {
    background-color: rgb(238, 245, 244);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.gallery{
    column-gap: 20px;
    box-shadow: 0 15px 20px slategray;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    width: min-content;
    transition: transform 0.3 ease;
}

.shoes img {
    
    margin: 15px;
    width: 350px;
    height: 350px;
    transition: transform 0.3 ease;
}

.gallery:hover {
    box-shadow: 0 15px 20px slategray;
    
}

.shoes img:hover {
    border: 1px solid grey;
    border-radius: 15px;
    transform: scale(1.02);
}
.buy{
    margin-top: 5px;
    margin-left: 80px;
    margin-bottom: 15px;
    background-color: #2563EB;
    padding: 30px 10px;
    padding-top: 12px;
    border-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    height: 20px;
    width: 160px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buy:hover{
    background-color: #164e63;
}
.description{
    margin-left: 15px;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.line{
    margin-left: 0px;
    font-size: 20px;
    color: rgb(70, 69, 69);
    font-family: Arial, Helvetica, sans-serif;
}
.class{
    font-size: 15px;
    color: black;
}
.price{
    font-size: 30px;
    color: #f97316;
}

#contact {
    background-color: #ffffff;
    padding: 50px 0;
}

.form-container {
    max-width: 600px;
    margin: auto;
}


.container {
    background-color: rgb(238,245,244);
    padding: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(75, 73, 73, 0.1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.inner-form {
    width: 100%;
}

.button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #c82333;
}
.footer{
    text-align: center;
    
}